/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.hrefSite {
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

.designer {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.nav-item {
	color: black;
	margin-top: -1px;
	text-decoration: none;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.myProjets {
	display: flex;
	column-gap: 20px;
  text-align: center;
	flex-direction: row;
	justify-content: center;
}

.myWorks {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.modify {
	margin-top: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modify i {
	cursor: pointer;
	font-size: 1.2em;
  margin-right: 5px;
	transition: all 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}

.modify p {
	margin-left: 3px;
}

#connection {
	width: 100%;
	max-width: 400px;
	padding: 20px;
	top: 50%;
	left: 50%;
	margin-bottom: 368px;
	position: relative;
	transform: translate(-50%, 25%);
	background-color: #fff;
	text-align: center;
}

.logIn {
	font-size: 1.9em;
	color: #1D6154;
	font-family: 'Syne', sans-serif;
	margin-bottom: 20px;
}

#logForm {
	display: flex;
	flex-direction: column;
}

.infoEmail {
	margin-bottom: 20px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.infoPassword {
	margin-top: 6px;
	margin-bottom: 20px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

#adress, #password {
	width: 100%;
	padding: 15px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button#btnConnect {
	padding: 8px;
	border: none;
	width: 170px;
	display: block;
	margin: 10px auto;
	border-radius: 5px;
	background-color: darkgreen;
	color: white;
	font-size: 1.2em;
	border-radius: 30px;
	cursor: pointer;
}

button#btnConnect:hover {
	background-color: green;
}

.passwordForget {
	display: block;
	margin-top: 10px;
	color: darkgreen;
}

.passwordForget:hover {
	text-decoration: none;
}

#errorMessage {
	display: none;
	font-size: 1.2em;
	margin-top: 16px;
	color: darkred;
	font-weight: bold;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.listBtnFilter {
	column-gap: 10px;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 20px;
}

.btn-filter {
  padding: 5px 20px;
  font-size: 1.4em;
  border-radius: 30px;
	font-family: 'Syne';
  border: 1px solid darkgreen;
  background-color: #ffffff;
  cursor: pointer; 
  margin: 5px;
}

.btn-filter:active {
  background-color: darkgreen;
  color: #ffffff; 
}

.btn-filter.active {
  background-color: darkgreen;
  color: #ffffff; 
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  top: 50%;
  left: 50%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 617px;
  max-width: 600px;
  width: 100%;
}

.close-modal,
.back-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.back-modal {
    right: auto;
    left: 10px;
}

.gallery-title {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
}

#contentGallery {
	padding: 20px;
}

#listGallery {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
	margin: 30px auto;
  justify-content: flex-start;
  gap: 10px;
	margin-left: 50px;
}

.photo-container {
  position: relative;
  display: inline-block;
}

.photo-container img {
  height: 100px;
  width: 80px;
	padding: 10px 5px;
  object-fit: cover;
}

.positionImage {
	margin: 5px 15px;
}

.btn-delete {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: black;
  border: none;
  color: azure;
  font-size: 0.9em;
  cursor: pointer;
}

.fa-trash-can {
  font-size: 0.8em;
}

.rowAdd {
	width: 75%;
	margin-top: -7px;
}

#btnAddPhotoView {
	display: block;
	color: #fff;
	cursor: pointer;
	font-size: 1.1em;
	border-radius: 30px;
	padding: 7px 50px;
	margin: 35px auto;
	border: none;
	background-color: #1D6154;
}

/* Ajouter Photo */
#btnBackToGallery {
	font-size: 1.4em;
	margin-left: 10px;
}

#contentAdd {
	margin-top: 40px;
}

.upload-placeholder {
	width: 70%;
	display: block;
  text-align: center;
  padding: 20px;
  margin: 27px auto;
	border-radius: 5px;
	background-color: #c9c9c9;
}

.upload-placeholder .placeholder-icon {
	color: #8d8d8d;
  font-size: 6.0em;
}

.upload-placeholder button {
    display: block;
    margin: 10px auto;
    padding: 10px 40px;
    border: none;
    background: #8d8d8d;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

.upload-text {
	font-weight: bold;
	color: #0635a9;
	font-size: 1.2em;
}

.typePhoto {
	font-size: 0.8em;
}

#postPhoto {
	top: 50%;
	left: 12%;
	position: relative;
	display: block;
	margin: auto;
	justify-content: center;
}

.photoTitle,
.photoCategory {
	width: 71%;
	margin-bottom: 20px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

#title, #category {
	width: 100%;
	padding: 15px;
	margin: 5px auto;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.rowValid {
	width: 75%;
	margin-top: 40px;
}

#btnValidPhoto {
	display: block;
	color: #fff;
	cursor: pointer;
	font-size: 1.1em;
	border: none;
	border-radius: 30px;
	padding: 8px 90px;
	margin: 35px auto;
	background-color: #8d8d8d;
}



